@import "./../../../../assets/fonts/pressstart2p/stylesheet.css";

$URL_ASSETS: "./../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

$page-info-color-text: #000000;
$page-info-size-font: 14px;

.page {
	.item {
		display: flex;
		justify-content: space-between;
		margin: $page-info-size-font/2 0;
		color: $page-info-color-text;
		font-size: $page-info-size-font;
	
		&__key {
			font-family: "press_start_2pregular";
			margin-right: $page-info-size-font / 2;
		}

		&__separator {
			border-bottom: 2px #000000;
			border-bottom-style: dashed;
			margin-bottom: 4px;
			flex: 1 1;
		}
	
		&__value {
			font-family: "press_start_2pregular";
			margin-left: $page-info-size-font / 2;
		}

		&__editable {
			font-family: "press_start_2pregular";
			margin-left: $page-info-size-font / 2;
			display: block;

			button {
				border: 0;
				margin: 0;
				padding: 0;
				background-color: transparent;
				background-size: contain;
				display: inline-block;
				pointer-events: all;
				cursor: pointer;

				&.item__editable {
					&--plus {
						background-image: url($URL_ASSETS_IMAGES + "game-window/pageinfo-bt-plus.png");
						margin-left: 1px;
						height: 16px;
						width: 16px;
					}

					&--minus {
						background-image: url($URL_ASSETS_IMAGES + "game-window/pageinfo-bt-minus.png");
						height: 16px;
						width: 16px;
					}

					&--edit {
						background-image: url($URL_ASSETS_IMAGES + "game-window/pageinfo-bt-edit.png");
						height: 16px;
						width: 33px;
					}
				}

			}

		}
	}
}

