@import "./../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../styles/variables.scss";
@import "./../../styles/colors.scss";

$URL_ASSETS: "./../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

$MENU_MIN_WIDTH: $GAME_MIN_WIDTH;

.menu {
    background-color: $menu-color-bg;
    border-top: 2px solid $menu-color-border-top;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    font-family: "press_start_2pregular";
    height: 60px;
    justify-content: space-between;
    margin: 0;
    min-width: $MENU_MIN_WIDTH + px;
    padding: 4px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;

    &--left {
        flex: 1 1 auto;
        text-align: left;
    }

    &--right {
        flex: 1 1 auto;
        text-align: right;
    }

    %menu-button {
        display: inline-block;
        margin: 0 2px;
        &:active {
            .menu-button__notification { display: none; }
        }
    }

    &__button {
        &--agency {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-agency.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-agency-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-agency-active.png"); }
        }

        &--employee {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-employee.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-employee-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-employee-active.png"); }
        }

        &--projects {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-projects.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-projects-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-projects-active.png"); }
        }

        &--tray {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-tray.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-tray-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-tray-active.png"); }
        }

        &--configuration {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-configuration.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-configuration-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-configuration-active.png"); }
        }

        &--pixelbricks {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-pixelbricks.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-pixelbricks-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-pixelbricks-active.png"); }
        }
    }
}