.menu-button {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: 0;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
}