@import "./../../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../../styles/colors.scss";

$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.liquid-bar {
    background-image: url($URL_ASSETS_IMAGES + "status/status-bar-bg.png");
    border-top: 1px solid $status__bar-color-border-top; // #483C2F;
    border-bottom: 1px solid $status__bar-color-border-bottom;
    height: 23px;
    width: 100%;
    
    %liquid {
        height: 100%;
        background-position: right;
        background-repeat: no-repeat;
        border-right: 1px solid $status__bar-color-border-bottom;

        span { display: none; }
    }

    &--yellow {
        @extend %liquid;
        background-image: url($URL_ASSETS_IMAGES + "liquid-bar/liquid-bar-yellow.gif");
    }

    &--blue {
        @extend %liquid;
        background-color: blue;
        background-image: url($URL_ASSETS_IMAGES + "liquid-bar/liquid-bar-blue.gif");
    }

    &--red {
        @extend %liquid;
        background-image: url($URL_ASSETS_IMAGES + "liquid-bar/liquid-bar-red.gif");
    }
}