@import "./../../../assets/fonts/pressstart2p/stylesheet.css";
$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.liquid-bar {
    height: 25px;
    width: 100%;

    &--yellow {
        background-color: yellow;
    }

    &--blue {
        background-color: blue;
    }

    &--green {
        background-color: green;
    }

    &--red {
        background-color: red;
    }
}