$menu-color-bg: #8899AA;
$menu-color-border-top: #C9D7DE;
$menu__button--notification-color-bg: #FF332D;
$menu__button--notification-color-text: #FFFFFF;
$status__bar-color-border-top: #4D4336;
$status__bar-color-border-bottom: #3C342A;
$status__bar--value-color-text: #FFFFFF;