@import "./../assets/fonts/pressstart2p/stylesheet.css";

.menubar {
    background-color: #8899AA;
    border-top: 2px solid #C9D7DE;
    display: block;
    height: 54px;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    font-family: "press_start_2pregular";

    %button {
        cursor: pointer;
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 2px 2px 0 2px;
    }

    &-agency {
        @extend %button;
        background-image: url("../assets/images/menubar/menubar-agency-bt.png");
        &:hover {
            background-image: url("../assets/images/menubar/menubar-agency-bt-hover.png");
        }
        &:active {
            background-image: url("../assets/images/menubar/menubar-agency-bt-active.png");
        }
    }

    &-employees {
        @extend %button;
        background-image: url("../assets/images/menubar/menubar-employee-bt.png");
        &:hover {
            background-image: url("../assets/images/menubar/menubar-employee-bt-hover.png");
        }
        &:active {
            background-image: url("../assets/images/menubar/menubar-employee-bt-active.png");
        }

    }

    &-projects {
        @extend %button;
        background-image: url("../assets/images/menubar/menubar-projects-bt.png");
        &:hover {
            background-image: url("../assets/images/menubar/menubar-projects-bt-hover.png");
        }
        &:active {
            background-image: url("../assets/images/menubar/menubar-projects-bt-active.png");
        }
    }

    &-money {
        display: inline-block;
        background-color: green;
        height: 100%;
        width: 100px;
        margin: 10px 4px 0 4px;
    }

    &-date {
        display: inline-block;
        background-color: purple;
        height: 100%;
        width: 100px;
        margin: 10px 4px 0 4px;
    }

}