@import "./../../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../../styles/variables.scss";
@import "./../../../styles/colors.scss";
@import "./../../../styles/mixins/image-sharp-edges.scss";

$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";
$DSKTP_BREAKPOINT: $DESKTOP_BREAKPOINT;

.status {
    display: flex;
    height: 100px;
    margin: 20px auto;
    min-width: 280px;
    position: relative;
    padding: 0 10px;
    z-index: $Z_INDEX_UI;

    @media screen and (min-width: $DSKTP_BREAKPOINT) {
        position: absolute;
        width: 400px;
    }

    &__labels {
        background-image: url($URL_ASSETS_IMAGES + "status/status-labels-bg.png");
        flex: 0 0 30px;
        height: 100px;

        div {
            display: block;
            height: 25px;
            margin: 0 6px 0 10px;
            width: 15px;
        }

        .icon__reputation--good {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-reputation-good.png");
        }

        .icon__reputation--bad {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-reputation-bad.png");
        }

        .icon__happiness--good {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-happiness-good.png");
        }

        .icon__happiness--neutral {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-happiness-neutral.png");
        }

        .icon__happiness--bad {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-happiness-bad.png");
        }

        .icon__quality--good {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-quality-good.png");
        }

        .icon__quality--bad {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-quality-bad.png");
        }

        .icon__money {
            background-image: url($URL_ASSETS_IMAGES + "status/icon-money.png");
        }
    }

    &__info {
        flex: 1 1 auto;
        height: 100px;
    }
}