@import "./../../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../../styles/mixins/image-sharp-edges.scss";
@import "./../../../styles/variables.scss";

$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.game-window {
    @extend %image-sharp-edges;
    box-sizing: border-box;
    max-width: 600px;
    min-height: 400px;
	position: absolute;
	pointer-events: auto;
	width: 90%;
	z-index: $Z_INDEX_UI_ON;

    border: 9px solid;
	border-image: url($URL_ASSETS_IMAGES + "alert/alert-bg.png");
    border-image-slice: 4 fill;

    button {
        background-color: #00000055;
        background-image: url($URL_ASSETS_IMAGES + "alert/alert-bt.png");
        border: 0;
        display: block;
        height: 27px;
        position: absolute;
        right: 10px;
        width: 27px;
        &:hover { background-image: url($URL_ASSETS_IMAGES + "alert/alert-bt-hover.png"); }
        &:active { background-color: #000000BB; }
    }

    p {
        font-family: "press_start_2pregular";
        margin: 30px 10px;
	}
	
	ul {
		margin: 0;
		padding: 0;
	}
}