@import "./../../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../../styles/mixins/image-sharp-edges.scss";
@import "./../../../styles/variables.scss";

$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.game-window {

	background-color: transparent;

    box-sizing: border-box;
    max-width: 600px;
	height: 60vh;
	position: relative;
	pointer-events: auto;
	width: 90%;
	z-index: $Z_INDEX_UI_ON;

    &__close-button {
		background-color: transparent;
        background-image: url($URL_ASSETS_IMAGES + "game-window/close-bt.png");
        border: 0;
		cursor: pointer;
        display: block;
        height: 24px;
        position: absolute;
		top: 4px;
		width: 24px;
		z-index: 1;
        right: 4px;
        &:hover { background-image: url($URL_ASSETS_IMAGES + "game-window/close-bt-hover.png"); }
    }

    p {
        font-family: "press_start_2pregular";
        margin: 30px 10px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		height: 100%;
		width: 100%;

		li {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			height: 100%;
			width: 100%;
		}
	}
}