@import "./../../../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../../../styles/colors.scss";

.menu-button {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: 0;
    cursor: pointer;
    display: block;
    height: 50px;
    position: relative;
    width: 50px;

    &__notification {
        align-items: center;
        background-color: $menu__button--notification-color-bg;
        border-radius: 50%;
        color: $menu__button--notification-color-text;
        display: flex;
        font-family: "press_start_2pregular";
        font-size: 12px;
        height: 24px;
        justify-content: center;
        position: absolute;
        right: -8px;
        top: -8px;
        width: 24px;
        z-index: 2;
    }
}