@import "./../../assets/fonts/pressstart2p/stylesheet.css";
$URL_ASSETS: "./../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

.office {
    background-color: brown;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}