$URL_ASSETS: "./../../../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

@for $i from 0 through 8 {
	.tab.position-#{$i} {
		margin-left: 50px * $i;
	}
}

.tab {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: block;
	height: 50px;
	width: 50px;
	pointer-events: initial;

	&-agency-info {
		&--enabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-agency-info-enabled.png");
		}
		&--disabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-agency-info-disabled.png");
		}
	}

	// EMPLOYEES GAME WINDOW
	&-employees-info {
		&--enabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-info-enabled.png");
		}
		&--disabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-info-disabled.png");
		}
	}

	&-employees-single {
		&--enabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-single-enabled.png");
		}
		&--disabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-single-disabled.png");
		}
	}

	&-employees-double {
		&--enabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-double-enabled.png");
		}
		&--disabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-double-disabled.png");
		}
	}

	&-employees-freelance {
		&--enabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-freelance-enabled.png");
		}
		&--disabled {
			background-image: url($URL_ASSETS_IMAGES + "game-window/tab-employees-freelance-disabled.png");
		}
	}
}