@import "./../../../assets/fonts/pressstart2p/stylesheet.css";
@import "./../../../styles/variables.scss";
@import "./../../../styles/colors.scss";

$URL_ASSETS: "./../../../assets/";
$URL_ASSETS_IMAGES: $URL_ASSETS + "images/";

$MENU_MIN_WIDTH: $GAME_MIN_WIDTH;

.menu {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-width: $MENU_MIN_WIDTH + px;
    padding: 10px 8px;
    position: fixed;
    width: 100%;
    z-index: $Z_INDEX_UI;

    %menu__side {
        height: 50px;
        flex: 1 1 auto;
    }

    &--left {
        @extend %menu__side;
        text-align: left;
    }

    &--right {
        @extend %menu__side;
        text-align: right;
    }

    %menu-button {
        display: inline-block;
        margin: 0 2px;
        &:active { .menu-button__notification { display: none; }}
    }

    &__button {
        &--agency {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-agency.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-agency-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-agency-active.png"); }
        }

        &--projects {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-projects.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-projects-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-projects-active.png"); }
        }

        &--employees {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-employees.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-employees-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-employees-active.png"); }
        }

        &--search-projects {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-search-projects.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-search-projects-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-search-projects-active.png"); }
        }

        &--search-employees {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-search-employees.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-search-employees-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-search-employees-active.png"); }
        }

        &--configuration {
            @extend %menu-button;
            background-image: url($URL_ASSETS_IMAGES + "menu/button-configuration.png");
            &:hover { background-image: url($URL_ASSETS_IMAGES + "menu/button-configuration-hover.png"); }
            &:active { background-image: url($URL_ASSETS_IMAGES + "menu/button-configuration-active.png"); }
        }
    }
}